$cor-topo: #00052d;
$cor-font-destaque: #fdb930;
$cor-neutra: #fff;
$amarelo-submenu: #ffb90b;
$vermelho:#ff3300;
$variacao-topo:#15193f;
$titulo-maq :#f3f3f3;

$primeira-variacao: #080d35;
$segunda-variacao: #0d1238;
$terceira-variacao: #12173d;


$font-descricao:.800em;
$font-menu:.900em;
$font-texto:1em;
$font-sz-subt:.867em;
$font-subt:1.467em;
$font-sz-titulo:1.867em;
$font-sz-ctt: 1.733em;
$font-sub-ctt:1.200em;

$border:0;


// ------------------###RESET###------------------ //
// .container {
// 	width:1200px;
// }

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;
	color:$cor-neutra;
	a {
		color: $cor-neutra;

	}
	h1 {
		margin:0;
		font-weight: 300;
		letter-spacing:2px;
	}

	h1.sub {
		font-size: 28px;
		text-align: center;
		color:$cor-topo;
	}
	.center {
		position: absolute;
		width: 346px;
		top: 50%;
		left:50%;
		margin: -15px 0 0 -164px;
	}

	p  {
		font-weight: 300;
		color: $cor-neutra;
		font-size: $font-texto;
		line-height: 32px;
	}

}

.btn {
	position: relative !important;
	z-index: 9999 !important;
	padding:17.5px 26.5px;
	margin:0;
	border-radius:0;
	font-size:$font-descricao;
	font-weight:400;
	text-transform:uppercase;
	text-align:center;
}

.btn-warning,
.btn-warning:hover {
	background:#fdb528;
	color:$cor-topo;
}

.btn-warning:hover {
	opacity:.7s;
}

.margin-right {
	margin:0 -15px 0 0;
}

.margin-left {
	margin: 0 0 0 -15px;
}

// ------------------###LAYOUT###------------------ //
.fundo-padrao {
	background:#080d35;
}

.navbar {
	margin:0;
	background:$cor-topo;
	border:none;
	border-radius:0;
}

.navbar-brand {
	margin-top:20px;
	padding: 25px 15px 15px 15px;
}

.navbar-nav{
	> li > a {
		padding: 65px 11.5px 65px 11.5px;
	}
	> li > a.no-padding { 
		padding-right: 0;
	}
}

.navbar-default .navbar-nav>li>a,
.navbar-default.navbar-servicos .navbar-nav>li>a {
	position:relative;
	font-size: $font-menu;
	color: $cor-neutra;
	font-weight: 400;
}

.navbar-default .navbar-nav>li>a.active,
.navbar-default.navbar-servicos .navbar-nav>li>a.active {
	color: $amarelo-submenu;
	font-weight: 500;
} 

.navbar-default.navbar-servicos .navbar-nav>li>a.active {
	color:$cor-topo;
}

.navbar-default .navbar-nav>li>a:after,
.navbar-default.navbar-servicos .navbar-nav>li>a:after  {
	content: ' ';
	position: absolute;
	right:50%;
	margin: 0 -1.5px 0 0;
	bottom:0px;
	width:2px;
	height:0px;
	background: $cor-font-destaque;
	-webkit-transition: height .19s;
	-moz-transition: height .19s;
	transition: height .19s;
}

.navbar-default .navbar-nav>li>a.active:after,
.navbar-default.navbar-servicos .navbar-nav>li>a.active:after {
	height:22px;
}

.navbar-default .navbar-nav>li>a:hover:after {
	height: 22px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:$cor-font-destaque;
}

// SERVICOS

.navbar.navbar-servicos,
#topo.contato {
	height: 150px;
	background: url(../img/servicos/barra.jpg) repeat-x center center;
}

.navbar.navbar-servicos .navbar-collapse {
	padding:0!important;
}

.navbar-default.navbar-servicos .navbar-nav>li>a {
	color: $cor-topo;
	font-weight: 400;
}

.navbar-default.navbar-servicos .navbar-nav>li>a:after  {
	background: $cor-topo;
}

.navbar-default.navbar-servicos .navbar-nav {
	float: none;
	margin: 0 auto;
	width:673px;
}
// HOME

.carousel-control {
	position:relative;
	z-index: 9999;
	top:-120px;
	width:95px;
	height:164px;
	opacity:1;
}

.container-control {
	width:1200px;
	margin:-176.7px auto 0 auto;
	background-color:$cor-topo;
}

.carousel-control.left,
.carousel-control.right {
	left:auto;
	float: left;
	background: $vermelho url(../img/arrow.svg) no-repeat center center;
	background-size:31px 57px;
}

.carousel-control.right {
	right:28px !important;
}


.carousel-control.right {
		right:auto;
		float:right;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
}

.carousel-caption {	
	padding:0;
	bottom:50%;
	margin:0 0 -30px 0;
	right:30%;
	left:30%;
	a {
		float: left;
	    display: block;
	    position: relative;
	    top: 39px;
	    margin: 0 0 0 -72.9px;
	}
}


#opcoes .row {margin-top:-40px;}

#opcoes .col-md-4.col-sm-4.col-xs-12 {padding:0;}

#opcoes a:hover,
#opcoes a:focus, 
#opcoes a:visited  {
	text-decoration:none;
	color:$cor-neutra;
}
.maquina,
.servico,
.orcamento {
	position:relative;
	height:210px;
	text-align:center;
	padding:25px;
	display: block;

	h3,p {margin: 0;}

	h3 {
		margin: 35px 0 0 0;
		font-size:$font-subt;
		font-weight:300;
		color:$cor-font-destaque;
		img {
			margin: -6px 0 0 10px;
			width: 28px;
			height: 28px;
		}
	}
	p {
		position: absolute;
		bottom:55px;
		right: 25px;
		left: 25px;
		font-size:$font-descricao;
		line-height: 20px
	}
}

.maquina {background:$primeira-variacao;}

.servico {background:$segunda-variacao;}

.orcamento {background:$terceira-variacao;}

.maquina:hover h3 img,
.servico:hover h3 img,
.orcamento:hover h3 img {
	margin:-18px 0 0 10px;
}

.maquina:hover h3 img,
.servico:hover h3 img,
.orcamento:hover h3 img,
.maquina h3 img,
.servico h3 img,
.orcamento h3 img {
	transition:margin .1s ease-in-out;
	o-transition:margin .1s ease-in-out;
	webkit-transition:margin .1s ease-in-out;
}

#opcoes.fundo-padrao {
	padding:0 0 90px 0;
}

footer {
	text-align: left;
	padding: 33px 0 0 0;

	background:#080d35;

	.col-md-6,
	.col-md-1 {
		padding:0;
	}

	p {
		margin:-5px 0 0 16px;
		line-height: 27px;
		span {
			font-weight: 600;
		}
	}

	ul {
		padding:0;
	}

	li {
		margin:0 0 10px 0;
		list-style: none;
		font-size:$font-sub-ctt;

		a,span {font-weight:500;}

		img.icons-yellow {
			margin:0 10px 0 0;
			width:31px;
			height:31px;
		}

		img {
			margin:7px 0 0 13px;
		}

		img:first-child {
			margin-left:0;
		}

		img:last-child {
			top:-78px;
			position:absolute;
			margin:0 0 0 13px;
		}
	}

	.total {
		margin:23px 0 0 0;
		background:$cor-topo;
		padding:25px 0;
	}
}

.maq {
	position: absolute;
	bottom:0;
	width:100%;
}
//--/HOME
//SERVICOS
#corpoServico {

	h1 {color:$cor-topo;margin:60px 0;}

	p {color:$cor-topo;text-align: justify;margin:0;}

	p:first-child {margin:-9px 0 36px 0;}
}
//---ADQUACAO
#corpoServico.adquacao {

	h1 {margin:64px 0 150px 0;}

	img {width:241px;height:241px;}

	img:first-child {margin:0 100px 0 0;}
}

#corpoServico.adquacao .total {margin:0 auto 150px auto;width:586px;}
////---ADQUACAO
//---ASSISTENCIA
#corpoServico.assistencia {margin: 0 0 107px 0;}
#corpoServico.assistencia .col-md-4 {padding:0;}
////---ASSISTENCIA
//---AFIACAO
#corpoServico.afiacao,#corpoServico.treinamento  {margin:0 0 150px 0;}
#corpoServico.afiacao .col-md-6,
#corpoServico.treinamento .col-md-6 {padding: 0 15px 0 4px;}
////---AFIACAO
////SERVICOS
//CONTATO

#topo.contato {
	h1,
	h2 {
		margin:0;
		font-weight:300;
		color:$cor-topo;
		text-align: center;
		text-transform: uppercase;
	}
	h1 {
		margin:45px 0 0 52px;
		font-size: $font-sz-ctt;
		line-height:38px;
	}

	h1.contato {
		margin-left:0;
	}

	h2.lalign {
		margin: 0 0 0 52px;
		font-weight: 500;
		font-size:$font-texto;
	}

	.col-md-11 h1,
	.col-md-11 h2 {
		text-align: left;
	}

	h1.tcenter {
		text-align:center;
		margin-top:56px;
		margin-left:0 !important;
	}

	h1.vcenter {
		margin:56px 0 0 52px;
	}

	h2 {
		font-size: $font-sub-ctt;
	}
}

#corpo.contato {
	form {margin:50px 0 150px 0;}

	input,select,textarea {
		margin:0 0  0;
		width:100%;
		padding:30px 0;
		background:$cor-neutra;
		color:$cor-topo;
		font-weight: 300;
		font-size: $font-texto;
		border:0;
		border-radius:0;
		border-bottom:2px solid $cor-topo;
		transition: padding .2s;
		text-transform:uppercase;
	}
		input:focus,
		select:focus,
		textarea:focus {
			transition: padding .2s;
			padding:30px;
			outline:transparent;
		}

	::-webkit-input-placeholder {font-size: $font-texto;color:$cor-topo;}
	:-moz-placeholder {font-size: $font-texto;color:$cor-topo;}
	::-moz-placeholder {font-size: $font-texto;color:$cor-topo;}
	:-ms-input-placeholder  {font-size: $font-texto;color:$cor-topo;}

	.col-md-6 label.error {
		position: relative;
		top:-40px;
	}

	.col-md-6 input.error {
		border-bottom: 2px solid $vermelho !important;
	}

	textarea.error {
		border-bottom: 2px solid $vermelho !important;
	}

	.col-md-6 input.error::-webkit-input-placeholder {color:$vermelho !important;}
	.col-md-6 input.error:-moz-placeholder {color:$vermelho !important;}
	.col-md-6 input.error::-moz-placeholder {color:$vermelho !important;}
	.col-md-6 input.error:-ms-input-placeholder {color:$vermelho !important;}

	textarea.error::-webkit-input-placeholder {color:$vermelho !important;}
	textarea.error:-moz-placeholder {color:$vermelho !important;}
	textarea.error::-moz-placeholder {color:$vermelho !important;}
	textarea.error:-ms-input-placeholder {color:$vermelho !important;}
	.error {
		color:$vermelho;
		font-weight: 400;
		font-size: $font-texto;
	}

	select {
		height: 82px;
		padding:0;    
		background:transparent;
		appearance:none;
    	-moz-appearance:none;
    	-webkit-appearance:none;
    }

    .select:before {
		content:" ";
		position: absolute;
		top:15px;
		right:15px;
		z-index: -1;
		width:55px;
		height:55px;
		background: $vermelho url(../img/arrow.svg) no-repeat center center;
		background-size: 12px 22px;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
		transition: background-position .2s;
	}
	
	.select:hover:before {
		transition: background-position .2s;
		background-position:15px center;
	}
	
	textarea {padding:30px 0 90px 0;text-transform: inherit;margin: 0 0 5px 0;}
	textarea:focus {padding:30px 30px 90px 30px;}

	.btn-danger,
	.btn-danger:focus, {
		position:relative;
		z-index: 9999;
		float: right;
		width:auto;
		padding:14.5px 71px 14.5px 32px;
		background: $vermelho;
		background-size:22px 12px;
		color:$cor-neutra;
		font-weight: 400;
		line-height: 24px;
		border:0;
	}
	.submit:before {
		content:" ";
		position: absolute;
		top:16px;
		right:44px;
		z-index: 9999;
		width:12px;
		height:22px;
		background: url(../img/arrow.svg) no-repeat center center;
		background-size: 12px 22px;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		transition: right .2s;
	}

	.submit:hover:before {
		transition: right .2s;
		right:34px;
	}

}
////CONTATO

////MAQUINAS

#categoria {
	margin:50px 0 150px 0;
	a {
		position:relative;
		float:left;
		width:234px;
		height:234px;
		padding:34px;
		background:$variacao-topo;
		font-size: $font-subt;
		font-weight:300;
		text-align:center;
		transition: background .2s linear;

		span {
			display: inline-block;
			margin:64px 0 0 0;
		}

		span.duble {
			display: inline-block;
			margin:49px 0 0 0;
		}
	}

	a:nth-child(odd) {
		background:$cor-topo;
	}

	a:hover {
		background: $vermelho;
		color:$cor-neutra;
		transition: background .2s linear;
	}

	img {
		display:block;
		margin:0 auto;
	}

	h1 {
		margin:20px 0 40px 0;
		width:100%;
		padding:40px;
		background:$titulo-maq;
		color:$cor-topo;
		font-weight:300;
		font-size: $font-sz-ctt;
	}

	.col-md-6 h1 {
		float:right;
		margin:20px auto 40px 0;
		width:480px;
	}
	.col-md-6 iframe {
		margin:0 0 0 -15px;
	}

	p {
		color:$cor-topo;
		padding:0 40px;
	}

	p.desc {
		float: right;
		width: 453px;
		margin: 0 24px 0 0;
		text-align: justify;
	}

	table {
		width:304px;
		float:right;
		margin:0 88px 0 0;
		color:$cor-topo;
		
		tr {
			padding:0px;
			background:transparent;
		}

		tr:nth-child(odd) {
			background:$titulo-maq;
		}

		td {
			padding:5px;
			border-top:0;
		}

		th {
			border:0;
			padding:60px 0 35px 0;
			width:100%;
			text-align: center;
			font-weight: 500;
		}

		td:nth-child(even) {
			text-align:right;
			font-weight: 500;
		}
		

		.sub-dsr {
			font-weight: 500;
			padding:35px 5px 10px 5px;

			p {
				padding:0;
				font-size:18.3px;
			}
		}

		.no-padding-top {
			padding-top:0;
		}
	}
}

#topo.maquinas {
	.btn-danger {
		float: left;
		display:block;
		width:95px;
		height:150px;
		background: $vermelho url(../img/arrow.svg) no-repeat center center;
		background-size:57px 30px;
		color:$vermelho;
		font-weight: 400;
		line-height: 24px;
		border:0;
	}

	h1 {
		text-transform: uppercase;
	}
}

#responsivo, #downCat {display:none;}


#topo.maquinas .btn-danger {
	position: relative;
	z-index: 9999;
}

.catalogo-carousel {
	width:100%;
	height:599px;
	background:url(../img/slider/slider1.jpg) center center;
}

.videolink {
	display:none;
}

@media screen and (max-width:768px){

	footer li {
		text-align: center;
	}

	footer li img:last-child {
		position: relative;
		top:inherit;
		margin:0 auto;
	}

	footer li img {
		display: block;
		margin:0 auto 20px auto;
	}

	.total img {
		display: block;
		margin:0 auto 15px auto;
	}

	footer li img:first-child {
		margin:0 auto;
		margin-left:auto;
	}
	#controle{display:none;}

	#corpoServico.afiacao .col-md-6, #corpoServico.treinamento .col-md-6,
	#corpoServico.assistencia .col-md-4,
	#corpoServico.assistencia .col-md-8 {
		padding:0 15px;

		img {
			margin:0 0 15px 0;
		}
	}

	.navbar-default .navbar-nav > li > a, .navbar-default.navbar-servicos .navbar-nav > li > a {
		font-size: $font-menu !important;
	}

	.navbar-default.navbar-servicos .navbar-nav > li > a.active,
	.navbar-default.navbar-servicos .navbar-nav > li > a {
		text-align:center;
	}

	.navbar.navbar-servicos {
		height:200px;
		background:url(../img/servicos/barra.jpg) center center;
	}

	.navbar-default .navbar-nav > li > a.active:after, .navbar-default.navbar-servicos .navbar-nav > li > a.active:after {height:0;}

	.responsivo {
		display:none !important;
	}

	#downCat {
		display:block !important;
	}

	.navbar-default .navbar-nav > li > a:hover:after,
	.navbar-default .navbar-nav > li > a.active:after {
		height:0px;
	}
	body,html {
		height:100% !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color:#080d35;}
	.navbar-toggle {margin-top: 45px;}
	.container>.navbar-header {height: 125px;}
	#opcoes .row  {margin-top: 0;}
	.navbar-nav > li > a {padding:15px;}
	footer p {text-align:center;}

	#opcoes {display:none;}

	.navbar-toggle {
		border:0;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background:transparent;}

	.navbar-default .navbar-toggle {
		opacity:1;
	}

	.navbar-toggle .icon-bar {
		background-color:$cor-neutra;
		opacity:1;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color:$amarelo-submenu;
		display: block;
		width: 20px;
		height:3px;
		margin: 4px auto 0 auto;

	}

	.navbar-toggle {
		width:58px;
		position: absolute;
		left:50%;
		margin:0 0 0 -21px;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		color:transparent;
	}

	.navbar-default .navbar-brand,.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
		display:none;
	}

	.container > .navbar-header {
		height: 72px;
	}

	.navbar {
		background-image:inherit;
	}
	
	#responsivo {
		display: block;
		height:calc(100% - 255px);
		background:$cor-topo url(../img/logo_maqdrau.svg) no-repeat center center;
		background-size:145.222px 61.883px;
	}

	#topo.contato h1 {
		margin-left:0;
		margin:54px 0 0 0;
	}

	#categoria {
		margin:0;

		a {
			width:calc(100%/3);
		}
	}

	#topo.maquinas .btn-danger {
		margin:0 20px 0 -20px;
	}
	
	#categoria .col-md-6 {
		padding:0;
	}

	#categoria .col-md-6 h1 {
		width:100%;
	}

	#categoria p.desc {
		float:left;
		width:100%;
	}

	#categoria table {
		float:left;
		width:calc(100% - 80px);
		margin:0 40px 35px 40px;
	}

	#categoria p.desc {
		margin:5px 0 35px 0;
	}
	
	#topo.contato h1.twsub {
		margin:30px 0 0 0;
	}

	#downCat {
		background:$cor-topo;

		a {
			display:block;
			margin:0 auto 13px auto;
			width:248px;
			background:$amarelo-submenu;
			text-align:center;
			font-size: $font-texto;
			color:$cor-topo;
			span {
				font-weight: 700;
			}
		}
	}

	a.videolink {
		float: none !important;
		display:block;
		margin:0 auto 13px auto;
		width:200px !important;
		height:auto !important;
		background:$amarelo-submenu !important;
		text-align:center;
		font-size: $font-texto;
		color:$cor-topo;
		span {
			margin:0 !important;
			font-weight: 700;
		}
	}
	iframe {
		display:none !important;
	}


}
@media screen and (max-width:659px){

	.navbar-default.navbar-servicos .navbar-nav {
		width:100%;
	}

	#corpoServico.adquacao .total {
		width:100%;

		img {
			display: block;
			margin: 0 auto;
			width:347px;
			height: 347px;
		}

		img:first-child {
			margin-bottom:30px;
		}
	}
	#topo.contato h1,
	#topo.contato h1.vcenter {
		margin:40px 0 0 0;
	}

	#categoria a {
		width:calc(100%/2);
	}
		#categoria a:nth-child(odd) {
		background:#15193f;
	}
	#categoria a.cor-sim {
		background:$cor-topo;
	}

	.navbar-default .navbar-nav > li > a {
		font-size: $font-texto;
	}

	#categoria a span.duble {
		margin:64px 0 0 0;
	}

}

@media screen and (max-width:480px){
	.normal {display:none;}
	#corpoServico.adquacao .total img {
		width:100%;
		height:auto;
	}

	#categoria a {
		width:100%;
	}

	#categoria a.cor-sim {
		background:#15193f;
	}
	
	#categoria a:nth-child(odd){
		background:$cor-topo;
	}

	#topo.contato h1.twsub {
		margin:8px 0 0 0;
	}

	.sub-resp {
		background:$cor-topo !important;
	}

	.sub-sim {
		background:#15193f !important;
	}
}

@media screen and (max-width:361px){
	#topo.contato h1 {
		margin:20px 0 0 0;
	}

	#topo.contato h1.vcenter {
		margin:0px 0 0 0;
	}
	#topo.contato h1.vcenter.ccenter {
		margin:40px 0 0 0;
	}

	#topo.contato h1.twsub {
		margin:0;
		font-size:$font-sub-ctt;
	}
}