/* line 31, ../scss/style.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  color: white;
}
/* line 36, ../scss/style.scss */
body a {
  color: white;
}
/* line 40, ../scss/style.scss */
body h1 {
  margin: 0;
  font-weight: 300;
  letter-spacing: 2px;
}
/* line 46, ../scss/style.scss */
body h1.sub {
  font-size: 28px;
  text-align: center;
  color: #00052d;
}
/* line 51, ../scss/style.scss */
body .center {
  position: absolute;
  width: 346px;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -164px;
}
/* line 59, ../scss/style.scss */
body p {
  font-weight: 300;
  color: white;
  font-size: 1em;
  line-height: 32px;
}

/* line 68, ../scss/style.scss */
.btn {
  position: relative !important;
  z-index: 9999 !important;
  padding: 17.5px 26.5px;
  margin: 0;
  border-radius: 0;
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

/* line 81, ../scss/style.scss */
.btn-warning,
.btn-warning:hover {
  background: #fdb528;
  color: #00052d;
}

/* line 86, ../scss/style.scss */
.btn-warning:hover {
  opacity: .7s;
}

/* line 90, ../scss/style.scss */
.margin-right {
  margin: 0 -15px 0 0;
}

/* line 94, ../scss/style.scss */
.margin-left {
  margin: 0 0 0 -15px;
}

/* line 99, ../scss/style.scss */
.fundo-padrao {
  background: #080d35;
}

/* line 103, ../scss/style.scss */
.navbar {
  margin: 0;
  background: #00052d;
  border: none;
  border-radius: 0;
}

/* line 110, ../scss/style.scss */
.navbar-brand {
  margin-top: 20px;
  padding: 25px 15px 15px 15px;
}

/* line 116, ../scss/style.scss */
.navbar-nav > li > a {
  padding: 65px 11.5px 65px 11.5px;
}
/* line 119, ../scss/style.scss */
.navbar-nav > li > a.no-padding {
  padding-right: 0;
}

/* line 125, ../scss/style.scss */
.navbar-default .navbar-nav > li > a,
.navbar-default.navbar-servicos .navbar-nav > li > a {
  position: relative;
  font-size: 0.9em;
  color: white;
  font-weight: 400;
}

/* line 133, ../scss/style.scss */
.navbar-default .navbar-nav > li > a.active,
.navbar-default.navbar-servicos .navbar-nav > li > a.active {
  color: #ffb90b;
  font-weight: 500;
}

/* line 138, ../scss/style.scss */
.navbar-default.navbar-servicos .navbar-nav > li > a.active {
  color: #00052d;
}

/* line 143, ../scss/style.scss */
.navbar-default .navbar-nav > li > a:after,
.navbar-default.navbar-servicos .navbar-nav > li > a:after {
  content: ' ';
  position: absolute;
  right: 50%;
  margin: 0 -1.5px 0 0;
  bottom: 0px;
  width: 2px;
  height: 0px;
  background: #fdb930;
  -webkit-transition: height .19s;
  -moz-transition: height .19s;
  transition: height .19s;
}

/* line 158, ../scss/style.scss */
.navbar-default .navbar-nav > li > a.active:after,
.navbar-default.navbar-servicos .navbar-nav > li > a.active:after {
  height: 22px;
}

/* line 162, ../scss/style.scss */
.navbar-default .navbar-nav > li > a:hover:after {
  height: 22px;
}

/* line 166, ../scss/style.scss */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fdb930;
}

/* line 173, ../scss/style.scss */
.navbar.navbar-servicos,
#topo.contato {
  height: 150px;
  background: url(../img/servicos/barra.jpg) repeat-x center center;
}

/* line 178, ../scss/style.scss */
.navbar.navbar-servicos .navbar-collapse {
  padding: 0!important;
}

/* line 182, ../scss/style.scss */
.navbar-default.navbar-servicos .navbar-nav > li > a {
  color: #00052d;
  font-weight: 400;
}

/* line 187, ../scss/style.scss */
.navbar-default.navbar-servicos .navbar-nav > li > a:after {
  background: #00052d;
}

/* line 191, ../scss/style.scss */
.navbar-default.navbar-servicos .navbar-nav {
  float: none;
  margin: 0 auto;
  width: 673px;
}

/* line 198, ../scss/style.scss */
.carousel-control {
  position: relative;
  z-index: 9999;
  top: -120px;
  width: 95px;
  height: 164px;
  opacity: 1;
}

/* line 207, ../scss/style.scss */
.container-control {
  width: 1200px;
  margin: -176.7px auto 0 auto;
  background-color: #00052d;
}

/* line 214, ../scss/style.scss */
.carousel-control.left,
.carousel-control.right {
  left: auto;
  float: left;
  background: #ff3300 url(../img/arrow.svg) no-repeat center center;
  background-size: 31px 57px;
}

/* line 221, ../scss/style.scss */
.carousel-control.right {
  right: 28px !important;
}

/* line 226, ../scss/style.scss */
.carousel-control.right {
  right: auto;
  float: right;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 236, ../scss/style.scss */
.carousel-caption {
  padding: 0;
  bottom: 50%;
  margin: 0 0 -30px 0;
  right: 30%;
  left: 30%;
}
/* line 242, ../scss/style.scss */
.carousel-caption a {
  float: left;
  display: block;
  position: relative;
  top: 39px;
  margin: 0 0 0 -72.9px;
}

/* line 252, ../scss/style.scss */
#opcoes .row {
  margin-top: -40px;
}

/* line 254, ../scss/style.scss */
#opcoes .col-md-4.col-sm-4.col-xs-12 {
  padding: 0;
}

/* line 258, ../scss/style.scss */
#opcoes a:hover,
#opcoes a:focus,
#opcoes a:visited {
  text-decoration: none;
  color: white;
}

/* line 264, ../scss/style.scss */
.maquina,
.servico,
.orcamento {
  position: relative;
  height: 210px;
  text-align: center;
  padding: 25px;
  display: block;
}
/* line 271, ../scss/style.scss */
.maquina h3, .maquina p,
.servico h3,
.servico p,
.orcamento h3,
.orcamento p {
  margin: 0;
}
/* line 273, ../scss/style.scss */
.maquina h3,
.servico h3,
.orcamento h3 {
  margin: 35px 0 0 0;
  font-size: 1.467em;
  font-weight: 300;
  color: #fdb930;
}
/* line 278, ../scss/style.scss */
.maquina h3 img,
.servico h3 img,
.orcamento h3 img {
  margin: -6px 0 0 10px;
  width: 28px;
  height: 28px;
}
/* line 284, ../scss/style.scss */
.maquina p,
.servico p,
.orcamento p {
  position: absolute;
  bottom: 55px;
  right: 25px;
  left: 25px;
  font-size: 0.8em;
  line-height: 20px;
}

/* line 294, ../scss/style.scss */
.maquina {
  background: #080d35;
}

/* line 296, ../scss/style.scss */
.servico {
  background: #0d1238;
}

/* line 298, ../scss/style.scss */
.orcamento {
  background: #12173d;
}

/* line 302, ../scss/style.scss */
.maquina:hover h3 img,
.servico:hover h3 img,
.orcamento:hover h3 img {
  margin: -18px 0 0 10px;
}

/* line 311, ../scss/style.scss */
.maquina:hover h3 img,
.servico:hover h3 img,
.orcamento:hover h3 img,
.maquina h3 img,
.servico h3 img,
.orcamento h3 img {
  transition: margin .1s ease-in-out;
  o-transition: margin .1s ease-in-out;
  webkit-transition: margin .1s ease-in-out;
}

/* line 317, ../scss/style.scss */
#opcoes.fundo-padrao {
  padding: 0 0 90px 0;
}

/* line 321, ../scss/style.scss */
footer {
  text-align: left;
  padding: 33px 0 0 0;
  background: #080d35;
}
/* line 328, ../scss/style.scss */
footer .col-md-6,
footer .col-md-1 {
  padding: 0;
}
/* line 332, ../scss/style.scss */
footer p {
  margin: -5px 0 0 16px;
  line-height: 27px;
}
/* line 335, ../scss/style.scss */
footer p span {
  font-weight: 600;
}
/* line 340, ../scss/style.scss */
footer ul {
  padding: 0;
}
/* line 344, ../scss/style.scss */
footer li {
  margin: 0 0 10px 0;
  list-style: none;
  font-size: 1.2em;
}
/* line 349, ../scss/style.scss */
footer li a, footer li span {
  font-weight: 500;
}
/* line 351, ../scss/style.scss */
footer li img.icons-yellow {
  margin: 0 10px 0 0;
  width: 31px;
  height: 31px;
}
/* line 357, ../scss/style.scss */
footer li img {
  margin: 7px 0 0 13px;
}
/* line 361, ../scss/style.scss */
footer li img:first-child {
  margin-left: 0;
}
/* line 365, ../scss/style.scss */
footer li img:last-child {
  top: -78px;
  position: absolute;
  margin: 0 0 0 13px;
}
/* line 372, ../scss/style.scss */
footer .total {
  margin: 23px 0 0 0;
  background: #00052d;
  padding: 25px 0;
}

/* line 379, ../scss/style.scss */
.maq {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 388, ../scss/style.scss */
#corpoServico h1 {
  color: #00052d;
  margin: 60px 0;
}
/* line 390, ../scss/style.scss */
#corpoServico p {
  color: #00052d;
  text-align: justify;
  margin: 0;
}
/* line 392, ../scss/style.scss */
#corpoServico p:first-child {
  margin: -9px 0 36px 0;
}

/* line 397, ../scss/style.scss */
#corpoServico.adquacao h1 {
  margin: 64px 0 150px 0;
}
/* line 399, ../scss/style.scss */
#corpoServico.adquacao img {
  width: 241px;
  height: 241px;
}
/* line 401, ../scss/style.scss */
#corpoServico.adquacao img:first-child {
  margin: 0 100px 0 0;
}

/* line 404, ../scss/style.scss */
#corpoServico.adquacao .total {
  margin: 0 auto 150px auto;
  width: 586px;
}

/* line 407, ../scss/style.scss */
#corpoServico.assistencia {
  margin: 0 0 107px 0;
}

/* line 408, ../scss/style.scss */
#corpoServico.assistencia .col-md-4 {
  padding: 0;
}

/* line 411, ../scss/style.scss */
#corpoServico.afiacao, #corpoServico.treinamento {
  margin: 0 0 150px 0;
}

/* line 413, ../scss/style.scss */
#corpoServico.afiacao .col-md-6,
#corpoServico.treinamento .col-md-6 {
  padding: 0 15px 0 4px;
}

/* line 420, ../scss/style.scss */
#topo.contato h1,
#topo.contato h2 {
  margin: 0;
  font-weight: 300;
  color: #00052d;
  text-align: center;
  text-transform: uppercase;
}
/* line 427, ../scss/style.scss */
#topo.contato h1 {
  margin: 45px 0 0 52px;
  font-size: 1.733em;
  line-height: 38px;
}
/* line 433, ../scss/style.scss */
#topo.contato h1.contato {
  margin-left: 0;
}
/* line 437, ../scss/style.scss */
#topo.contato h2.lalign {
  margin: 0 0 0 52px;
  font-weight: 500;
  font-size: 1em;
}
/* line 444, ../scss/style.scss */
#topo.contato .col-md-11 h1,
#topo.contato .col-md-11 h2 {
  text-align: left;
}
/* line 448, ../scss/style.scss */
#topo.contato h1.tcenter {
  text-align: center;
  margin-top: 56px;
  margin-left: 0 !important;
}
/* line 454, ../scss/style.scss */
#topo.contato h1.vcenter {
  margin: 56px 0 0 52px;
}
/* line 458, ../scss/style.scss */
#topo.contato h2 {
  font-size: 1.2em;
}

/* line 464, ../scss/style.scss */
#corpo.contato form {
  margin: 50px 0 150px 0;
}
/* line 466, ../scss/style.scss */
#corpo.contato input, #corpo.contato select, #corpo.contato textarea {
  margin: 0 0 52px 0;
  width: 100%;
  padding: 30px 0;
  background: white;
  color: #00052d;
  font-weight: 300;
  font-size: 1em;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #00052d;
  transition: padding .2s;
  text-transform: uppercase;
}
/* line 482, ../scss/style.scss */
#corpo.contato input:focus,
#corpo.contato select:focus,
#corpo.contato textarea:focus {
  transition: padding .2s;
  padding: 30px;
  outline: transparent;
}
/* line 488, ../scss/style.scss */
#corpo.contato ::-webkit-input-placeholder {
  font-size: 1em;
  color: #00052d;
}
/* line 489, ../scss/style.scss */
#corpo.contato :-moz-placeholder {
  font-size: 1em;
  color: #00052d;
}
/* line 490, ../scss/style.scss */
#corpo.contato ::-moz-placeholder {
  font-size: 1em;
  color: #00052d;
}
/* line 491, ../scss/style.scss */
#corpo.contato :-ms-input-placeholder {
  font-size: 1em;
  color: #00052d;
}
/* line 493, ../scss/style.scss */
#corpo.contato .col-md-6 label.error {
  position: relative;
  top: -40px;
}
/* line 498, ../scss/style.scss */
#corpo.contato .col-md-6 input.error {
  border-bottom: 2px solid #ff3300 !important;
}
/* line 502, ../scss/style.scss */
#corpo.contato textarea.error {
  border-bottom: 2px solid #ff3300 !important;
}
/* line 506, ../scss/style.scss */
#corpo.contato .col-md-6 input.error::-webkit-input-placeholder {
  color: #ff3300 !important;
}
/* line 507, ../scss/style.scss */
#corpo.contato .col-md-6 input.error:-moz-placeholder {
  color: #ff3300 !important;
}
/* line 508, ../scss/style.scss */
#corpo.contato .col-md-6 input.error::-moz-placeholder {
  color: #ff3300 !important;
}
/* line 509, ../scss/style.scss */
#corpo.contato .col-md-6 input.error:-ms-input-placeholder {
  color: #ff3300 !important;
}
/* line 511, ../scss/style.scss */
#corpo.contato textarea.error::-webkit-input-placeholder {
  color: #ff3300 !important;
}
/* line 512, ../scss/style.scss */
#corpo.contato textarea.error:-moz-placeholder {
  color: #ff3300 !important;
}
/* line 513, ../scss/style.scss */
#corpo.contato textarea.error::-moz-placeholder {
  color: #ff3300 !important;
}
/* line 514, ../scss/style.scss */
#corpo.contato textarea.error:-ms-input-placeholder {
  color: #ff3300 !important;
}
/* line 515, ../scss/style.scss */
#corpo.contato .error {
  color: #ff3300;
  font-weight: 400;
  font-size: 1em;
}
/* line 521, ../scss/style.scss */
#corpo.contato select {
  height: 82px;
  padding: 0;
  background: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 530, ../scss/style.scss */
#corpo.contato .select:before {
  content: " ";
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: -1;
  width: 55px;
  height: 55px;
  background: #ff3300 url(../img/arrow.svg) no-repeat center center;
  background-size: 12px 22px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  transition: background-position .2s;
}
/* line 548, ../scss/style.scss */
#corpo.contato .select:hover:before {
  transition: background-position .2s;
  background-position: 15px center;
}
/* line 553, ../scss/style.scss */
#corpo.contato textarea {
  padding: 30px 0 90px 0;
  text-transform: inherit;
  margin: 0 0 5px 0;
}
/* line 554, ../scss/style.scss */
#corpo.contato textarea:focus {
  padding: 30px 30px 90px 30px;
}
/* line 557, ../scss/style.scss */
#corpo.contato .btn-danger,
#corpo.contato .btn-danger:focus {
  position: relative;
  z-index: 9999;
  float: right;
  width: auto;
  padding: 14.5px 71px 14.5px 32px;
  background: #ff3300;
  background-size: 22px 12px;
  color: white;
  font-weight: 400;
  line-height: 24px;
  border: 0;
}
/* line 570, ../scss/style.scss */
#corpo.contato .submit:before {
  content: " ";
  position: absolute;
  top: 16px;
  right: 44px;
  z-index: 9999;
  width: 12px;
  height: 22px;
  background: url(../img/arrow.svg) no-repeat center center;
  background-size: 12px 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: right .2s;
}
/* line 588, ../scss/style.scss */
#corpo.contato .submit:hover:before {
  transition: right .2s;
  right: 34px;
}

/* line 598, ../scss/style.scss */
#categoria {
  margin: 50px 0 150px 0;
}
/* line 600, ../scss/style.scss */
#categoria a {
  position: relative;
  float: left;
  width: 234px;
  height: 234px;
  padding: 34px;
  background: #15193f;
  font-size: 1.467em;
  font-weight: 300;
  text-align: center;
  transition: background .2s linear;
}
/* line 612, ../scss/style.scss */
#categoria a span {
  display: inline-block;
  margin: 64px 0 0 0;
}
/* line 617, ../scss/style.scss */
#categoria a span.duble {
  display: inline-block;
  margin: 49px 0 0 0;
}
/* line 623, ../scss/style.scss */
#categoria a:nth-child(odd) {
  background: #00052d;
}
/* line 627, ../scss/style.scss */
#categoria a:hover {
  background: #ff3300;
  color: white;
  transition: background .2s linear;
}
/* line 633, ../scss/style.scss */
#categoria img {
  display: block;
  margin: 0 auto;
}
/* line 638, ../scss/style.scss */
#categoria h1 {
  margin: 20px 0 40px 0;
  width: 100%;
  padding: 40px;
  background: #f3f3f3;
  color: #00052d;
  font-weight: 300;
  font-size: 1.733em;
}
/* line 648, ../scss/style.scss */
#categoria .col-md-6 h1 {
  float: right;
  margin: 20px auto 40px 0;
  width: 480px;
}
/* line 653, ../scss/style.scss */
#categoria .col-md-6 iframe {
  margin: 0 0 0 -15px;
}
/* line 657, ../scss/style.scss */
#categoria p {
  color: #00052d;
  padding: 0 40px;
}
/* line 662, ../scss/style.scss */
#categoria p.desc {
  float: right;
  width: 453px;
  margin: 0 24px 0 0;
  text-align: justify;
}
/* line 669, ../scss/style.scss */
#categoria table {
  width: 304px;
  float: right;
  margin: 0 88px 0 0;
  color: #00052d;
}
/* line 675, ../scss/style.scss */
#categoria table tr {
  padding: 0px;
  background: transparent;
}
/* line 680, ../scss/style.scss */
#categoria table tr:nth-child(odd) {
  background: #f3f3f3;
}
/* line 684, ../scss/style.scss */
#categoria table td {
  padding: 5px;
  border-top: 0;
}
/* line 689, ../scss/style.scss */
#categoria table th {
  border: 0;
  padding: 60px 0 35px 0;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
/* line 697, ../scss/style.scss */
#categoria table td:nth-child(even) {
  text-align: right;
  font-weight: 500;
}
/* line 703, ../scss/style.scss */
#categoria table .sub-dsr {
  font-weight: 500;
  padding: 35px 5px 10px 5px;
}
/* line 707, ../scss/style.scss */
#categoria table .sub-dsr p {
  padding: 0;
  font-size: 18.3px;
}
/* line 713, ../scss/style.scss */
#categoria table .no-padding-top {
  padding-top: 0;
}

/* line 720, ../scss/style.scss */
#topo.maquinas .btn-danger {
  float: left;
  display: block;
  width: 95px;
  height: 150px;
  background: #ff3300 url(../img/arrow.svg) no-repeat center center;
  background-size: 57px 30px;
  color: #ff3300;
  font-weight: 400;
  line-height: 24px;
  border: 0;
}
/* line 733, ../scss/style.scss */
#topo.maquinas h1 {
  text-transform: uppercase;
}

/* line 738, ../scss/style.scss */
#responsivo, #downCat {
  display: none;
}

/* line 741, ../scss/style.scss */
#topo.maquinas .btn-danger {
  position: relative;
  z-index: 9999;
}

/* line 746, ../scss/style.scss */
.catalogo-carousel {
  width: 100%;
  height: 599px;
  background: url(../img/slider/slider1.jpg) center center;
}

/* line 752, ../scss/style.scss */
.videolink {
  display: none;
}

@media screen and (max-width: 768px) {
  /* line 758, ../scss/style.scss */
  footer li {
    text-align: center;
  }

  /* line 762, ../scss/style.scss */
  footer li img:last-child {
    position: relative;
    top: inherit;
    margin: 0 auto;
  }

  /* line 768, ../scss/style.scss */
  footer li img {
    display: block;
    margin: 0 auto 20px auto;
  }

  /* line 773, ../scss/style.scss */
  .total img {
    display: block;
    margin: 0 auto 15px auto;
  }

  /* line 778, ../scss/style.scss */
  footer li img:first-child {
    margin: 0 auto;
    margin-left: auto;
  }

  /* line 782, ../scss/style.scss */
  #controle {
    display: none;
  }

  /* line 786, ../scss/style.scss */
  #corpoServico.afiacao .col-md-6, #corpoServico.treinamento .col-md-6,
  #corpoServico.assistencia .col-md-4,
  #corpoServico.assistencia .col-md-8 {
    padding: 0 15px;
  }
  /* line 789, ../scss/style.scss */
  #corpoServico.afiacao .col-md-6 img, #corpoServico.treinamento .col-md-6 img,
  #corpoServico.assistencia .col-md-4 img,
  #corpoServico.assistencia .col-md-8 img {
    margin: 0 0 15px 0;
  }

  /* line 794, ../scss/style.scss */
  .navbar-default .navbar-nav > li > a, .navbar-default.navbar-servicos .navbar-nav > li > a {
    font-size: 0.9em !important;
  }

  /* line 799, ../scss/style.scss */
  .navbar-default.navbar-servicos .navbar-nav > li > a.active,
  .navbar-default.navbar-servicos .navbar-nav > li > a {
    text-align: center;
  }

  /* line 803, ../scss/style.scss */
  .navbar.navbar-servicos {
    height: 200px;
    background: url(../img/servicos/barra.jpg) center center;
  }

  /* line 808, ../scss/style.scss */
  .navbar-default .navbar-nav > li > a.active:after, .navbar-default.navbar-servicos .navbar-nav > li > a.active:after {
    height: 0;
  }

  /* line 810, ../scss/style.scss */
  .responsivo {
    display: none !important;
  }

  /* line 814, ../scss/style.scss */
  #downCat {
    display: block !important;
  }

  /* line 819, ../scss/style.scss */
  .navbar-default .navbar-nav > li > a:hover:after,
  .navbar-default .navbar-nav > li > a.active:after {
    height: 0px;
  }

  /* line 822, ../scss/style.scss */
  body, html {
    height: 100% !important;
  }

  /* line 825, ../scss/style.scss */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #080d35;
  }

  /* line 826, ../scss/style.scss */
  .navbar-toggle {
    margin-top: 45px;
  }

  /* line 827, ../scss/style.scss */
  .container > .navbar-header {
    height: 125px;
  }

  /* line 828, ../scss/style.scss */
  #opcoes .row {
    margin-top: 0;
  }

  /* line 829, ../scss/style.scss */
  .navbar-nav > li > a {
    padding: 15px;
  }

  /* line 830, ../scss/style.scss */
  footer p {
    text-align: center;
  }

  /* line 832, ../scss/style.scss */
  #opcoes {
    display: none;
  }

  /* line 834, ../scss/style.scss */
  .navbar-toggle {
    border: 0;
  }

  /* line 838, ../scss/style.scss */
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: transparent;
  }

  /* line 840, ../scss/style.scss */
  .navbar-default .navbar-toggle {
    opacity: 1;
  }

  /* line 844, ../scss/style.scss */
  .navbar-toggle .icon-bar {
    background-color: white;
    opacity: 1;
  }

  /* line 849, ../scss/style.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffb90b;
    display: block;
    width: 20px;
    height: 3px;
    margin: 4px auto 0 auto;
  }

  /* line 858, ../scss/style.scss */
  .navbar-toggle {
    width: 58px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -21px;
  }

  /* line 865, ../scss/style.scss */
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    color: transparent;
  }

  /* line 869, ../scss/style.scss */
  .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    display: none;
  }

  /* line 873, ../scss/style.scss */
  .container > .navbar-header {
    height: 72px;
  }

  /* line 877, ../scss/style.scss */
  .navbar {
    background-image: inherit;
  }

  /* line 881, ../scss/style.scss */
  #responsivo {
    display: block;
    height: calc(100% - 255px);
    background: #00052d url(../img/logo_maqdrau.svg) no-repeat center center;
    background-size: 145.222px 61.883px;
  }

  /* line 888, ../scss/style.scss */
  #topo.contato h1 {
    margin-left: 0;
    margin: 54px 0 0 0;
  }

  /* line 893, ../scss/style.scss */
  #categoria {
    margin: 0;
  }
  /* line 896, ../scss/style.scss */
  #categoria a {
    width: calc(100%/3);
  }

  /* line 901, ../scss/style.scss */
  #topo.maquinas .btn-danger {
    margin: 0 20px 0 -20px;
  }

  /* line 905, ../scss/style.scss */
  #categoria .col-md-6 {
    padding: 0;
  }

  /* line 909, ../scss/style.scss */
  #categoria .col-md-6 h1 {
    width: 100%;
  }

  /* line 913, ../scss/style.scss */
  #categoria p.desc {
    float: left;
    width: 100%;
  }

  /* line 918, ../scss/style.scss */
  #categoria table {
    float: left;
    width: calc(100% - 80px);
    margin: 0 40px 35px 40px;
  }

  /* line 924, ../scss/style.scss */
  #categoria p.desc {
    margin: 5px 0 35px 0;
  }

  /* line 928, ../scss/style.scss */
  #topo.contato h1.twsub {
    margin: 30px 0 0 0;
  }

  /* line 932, ../scss/style.scss */
  #downCat {
    background: #00052d;
  }
  /* line 935, ../scss/style.scss */
  #downCat a {
    display: block;
    margin: 0 auto 13px auto;
    width: 248px;
    background: #ffb90b;
    text-align: center;
    font-size: 1em;
    color: #00052d;
  }
  /* line 943, ../scss/style.scss */
  #downCat a span {
    font-weight: 700;
  }

  /* line 949, ../scss/style.scss */
  a.videolink {
    float: none !important;
    display: block;
    margin: 0 auto 13px auto;
    width: 200px !important;
    height: auto !important;
    background: #ffb90b !important;
    text-align: center;
    font-size: 1em;
    color: #00052d;
  }
  /* line 959, ../scss/style.scss */
  a.videolink span {
    margin: 0 !important;
    font-weight: 700;
  }

  /* line 964, ../scss/style.scss */
  iframe {
    display: none !important;
  }
}
@media screen and (max-width: 659px) {
  /* line 972, ../scss/style.scss */
  .navbar-default.navbar-servicos .navbar-nav {
    width: 100%;
  }

  /* line 976, ../scss/style.scss */
  #corpoServico.adquacao .total {
    width: 100%;
  }
  /* line 979, ../scss/style.scss */
  #corpoServico.adquacao .total img {
    display: block;
    margin: 0 auto;
    width: 347px;
    height: 347px;
  }
  /* line 986, ../scss/style.scss */
  #corpoServico.adquacao .total img:first-child {
    margin-bottom: 30px;
  }

  /* line 991, ../scss/style.scss */
  #topo.contato h1,
  #topo.contato h1.vcenter {
    margin: 40px 0 0 0;
  }

  /* line 995, ../scss/style.scss */
  #categoria a {
    width: calc(100%/2);
  }

  /* line 998, ../scss/style.scss */
  #categoria a:nth-child(odd) {
    background: #15193f;
  }

  /* line 1001, ../scss/style.scss */
  #categoria a.cor-sim {
    background: #00052d;
  }

  /* line 1005, ../scss/style.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 1em;
  }

  /* line 1009, ../scss/style.scss */
  #categoria a span.duble {
    margin: 64px 0 0 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 1016, ../scss/style.scss */
  .normal {
    display: none;
  }

  /* line 1017, ../scss/style.scss */
  #corpoServico.adquacao .total img {
    width: 100%;
    height: auto;
  }

  /* line 1022, ../scss/style.scss */
  #categoria a {
    width: 100%;
  }

  /* line 1026, ../scss/style.scss */
  #categoria a.cor-sim {
    background: #15193f;
  }

  /* line 1030, ../scss/style.scss */
  #categoria a:nth-child(odd) {
    background: #00052d;
  }

  /* line 1034, ../scss/style.scss */
  #topo.contato h1.twsub {
    margin: 8px 0 0 0;
  }

  /* line 1038, ../scss/style.scss */
  .sub-resp {
    background: #00052d !important;
  }

  /* line 1042, ../scss/style.scss */
  .sub-sim {
    background: #15193f !important;
  }
}
@media screen and (max-width: 361px) {
  /* line 1048, ../scss/style.scss */
  #topo.contato h1 {
    margin: 20px 0 0 0;
  }

  /* line 1052, ../scss/style.scss */
  #topo.contato h1.vcenter {
    margin: 0px 0 0 0;
  }

  /* line 1055, ../scss/style.scss */
  #topo.contato h1.vcenter.ccenter {
    margin: 40px 0 0 0;
  }

  /* line 1059, ../scss/style.scss */
  #topo.contato h1.twsub {
    margin: 0;
    font-size: 1.2em;
  }
}
